* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: #74b6e6;
    font-weight: bold;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container-full {
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 1;
}

.actual-container {
    min-height: 100vh;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

/* Nav bar*/
.nav-bar {
    background-color: #1D3557;
    height: 80px;
    width: 100%;
    text-align: center;
}

.nav-bar img {
    float: left;
}

.nav-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
    background-color: #1D3557;
}

.nav-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    display: inline;
}

.nav-bar li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Barlow', sans-serif;
    line-height: 80px;
    padding: 14px 16px;
    border-right: 1px solid white;
}

.nav-bar li a:hover {
    color: rgb(107, 167, 212) !important;
}

.nav-container {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo-wrapper {
    line-height: 80px;
}

#logo {
    height: 70px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a.stacks {
    color: #1D3557;
}

@media screen and (max-width: 1150px) {
    .nav-bar li {
        display: none;
    }

    .nav-bar a.stacks {
        float: right;
        display: block;
        font-size: 20px;
        color: white;
        line-height: 80px;
        height: 100px;
    }
}

@media screen and (max-width: 1150px) {
    .nav-bar.responsive ul {
        position: relative;
        z-index: 10;
    }

    #home {
        height: 200px;
    }

    .nav-bar.responsive li {
        display: block;
        height: 100px;
    }

    .nav-bar.responsive a {
        display: block;
        width: 100%;
        margin-right: 0;
    }
}


/* Carousel */
.main-carousel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-cell {
    width: 100%;
    height: 400px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-cell img {
    height: 200px;
}

.circles {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (max-width: 950px) {
    .circles {
        padding-top: 10px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 600px) {
    .circles {
        padding-top: 10px;
        display: grid;
        grid-template-columns: 100%;
    }
}

.circle {
    transition: all .2s ease-in-out;
    margin: auto;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    background-color: rgb(153, 0, 0);
}

.mission {
    background-color: #a8dcaa;
}

.new-students {
    background-color: #A8DADC;
}

.schedule {
    background-color: #dca8da;
}

.community {
    background-color: #dcaaa8;
}

.circle h3 {
    position: relative;
    padding-top: 30px;
    text-align: center;
    color: #1D3557;
}

.circle i {
    display: block;
    position: relative;
    margin: 0 auto;
    color: #1D3557;
    text-align: center;
    font-size: 60px;
}

.circle:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 600px) {
    .carousel-cell img {
        height: 400px;
    }

    .main-carousel {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Resources Grid */
.grid-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 10px;
}


.grid-item {
    padding: 20px;
    height: 100px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    background-blend-mode: lighten;
}

.grid-80-20 {
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 18px;
}

.grid-20-80 {
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 18px;
}

.grid-50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 18px;
}

.grid-20-80 > div {
    padding-left: 2em;
}

.grid-20-20 > .img {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: left !important;
}

.grid-80-20 {
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 18px;
}

.grid-80-20 > .img {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

/* Schedule Page */
.calendar-container {
    width: 800px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.calendar {
    border: 0;
    width: 800px;
    height: 700px;
}

.column-3 {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.hero-3 {
    width: 100%;
    height: 40vh;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}

.hero-image {
    width: 100vw;
    height: 50vh;
    position: relative;
    background-size: cover;
    background-image: url(../../assets/media/hero.jpg);
    background-position: 50% 50%;
    max-width: 100%
}

#talks {
    background-image: url(../../assets/media/talks.jpg);
}

#outreach {
    background-image: url(../../assets/media/outreach.jpg);
}

#trips {
    background-image: url(../../assets/media/trips.jpg);
}

.hero-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #F1FAEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
}

.hero-overlay-light {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #F1FAEE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
}

/* Posts */
.post {
    text-decoration: none !important;
    color: black;
}

.post-snippet > h2 {
    text-decoration: underline dotted !important;
    text-decoration-skip-ink: none !important;
}

.post-snippet > p {
    font-weight: normal;
}

.footer {
    position: sticky;
    bottom: 0;
    height: auto;
    margin-top: 40px;
    padding: 15px 10px 5px;
    background-color: #1D3557;
    text-align: center;
    letter-spacing: 0.5em;
}

.footer a {
    color: #F1FAEE;
}

.footer i {
    size: 80px;
}
