* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    color: #55698C;
    font-weight: bold;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

/* Nav bar*/
.nav-bar {
    background-color: #55698C;
    height: 80px;
    width: 100%;
    text-align: center;
}

.nav-bar img {
    float: left;
}

.nav-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    float: right;
    background-color: #55698C;
}

.nav-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    display: inline;
}

.nav-bar li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Jaldi', sans-serif;
    line-height: 80px;
    padding: 14px 16px;
    border-right: 1px solid white;
}

.nav-container {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.logo-wrapper {
    line-height: 80px;
}

#logo {
    height: 70px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
    .nav-bar a {
        display: none;
    }

    .nav-bar a.stacks {
        float: right;
        display: block;
        font-size: 20px;
        color: white;
        line-height: 80px;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar.responsive ul {
        position: static;
    }

    .nav-bar.responsive a {
        display: block;
        width: 100%;
        margin-right: 0;
    }
}


/* Carousel */
.main-carousel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-cell {
    width: 100%;
    height: 400px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-cell img {
    height: 200px;
}

@media screen and (min-width: 600px) {
    .carousel-cell img {
        height: 400px;
    }

    .main-carousel {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Resources Grid */
.grid-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    height: 100px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
    background-color: rgba(255, 255, 255, 0.6) !important;
    background-blend-mode: lighten;
}

.grid-80-20 {
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 18px;
}

.grid-20-80 {
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: 18px;
}

.grid-20-80 > div {
    padding-left: 2em;
}

.grid-20-20 > .img {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: left !important;
}

.grid-80-20 {
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 18px;
}

.grid-80-20 > .img {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
}

/* Schedule Page */
.calendar-container {
    width: 800px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.calendar {
    border: 0;
    width: 800px;
    height: 700px;
}

/* Posts */
.post {
    text-decoration: none !important;
}

